.chat-message-container {
    flex-grow: 1;
    margin-top: 20px;
    overflow: scroll;
    scrollbar-width: none;
  
}
  
.welcome-message {
    color: rgb(120, 120, 120);
    text-align: center;
}
.chat-message-time {
    font-size: 14px;
    color: rgb(125, 125, 125);
    margin-top: 5px;
  }